## keyword variable length arguments --> **kwargs

In [1]:
def info(**kwargs):
    print(kwargs)
    print(type(kwargs))

In [2]:
info(name = 'Prajakta', age = 26 , Education = 'Masters')

{'name': 'Prajakta', 'age': 26, 'Education': 'Masters'}
<class 'dict'>

In [3]:
# key : values
def info1(**kwargs):
    for key, value in kwargs.items():
        print(f'{key} : {value}')

In [4]:
info1(empid = 123, emp_name = 'santosh', age = 26, email = 'xyz@gmail.com')

empid : 123
emp_name : santosh
age : 26
email : xyz@gmail.com

In [5]:
course = {'courseid' : 123 , 'coursename' : 'DA', 'institute' : 'ETLHive'}

### Dictionary Unpacking

In [8]:
info(**course)

{'courseid': 123, 'coursename': 'DA', 'institute': 'ETLHive'}
<class 'dict'>

In [15]:
money = {'500':5 ,'10':10, '5':10, '1':7, '2':10}

In [16]:
#double number of notes
def double_money(**kwargs):
    output = {}
    for money, notes in kwargs.items():
        output[money] = notes * 2
    return output

In [17]:
double_money(**money)

{'500': 10, '10': 20, '5': 20, '1': 14, '2': 20}

In [3]:
## Create function for filling the form
## name, age, gender, email
def fill_form(**kwargs):
    name = input('Enter the name :')
    age = int(input('Enter the age : '))
    gender = input('Enter the gender : ')
    email = input('Enter the email : ')
    print('Name : ', name)
    print('Age : ', age)
    print('Gender : ',gender)
    print('Email : ', email)

In [4]:
fill_form()

Name :  parag
Age :  27
Gender :  male
Email :  paragsk97@gmail.com

In [6]:
#Other way
def form_fill(**kwargs):
    user = {'Name'.lower() : None,
    'Age'.lower()  : None  ,
    'Gender'.lower() : None ,
    'email'.lower()  : None}
    for key , value in  kwargs.items():
        if key.lower() in user :
            user[key.lower()] = value
    return  user

In [7]:
form_fill(name = 'Mohit', age = 26, gender = 'make', email = 'mohit@example.com')

{'name': 'Mohit', 'age': 26, 'gender': 'make', 'email': 'mohit@example.com'}

### Create bill for Hotel

In [8]:
menu = {"Pizza" : 250, "Sandwich" : 100, "Samosa" : 20}

In [9]:
def Hotel_bill(**kwargs):
    total_bill = 0
    for food , quantity in kwargs.items():
        if menu.get(food) is not None:
            sub_total = menu.get(food)*quantity
            print(f"total bill for {food} --> {sub_total}")

            total_bill = total_bill + sub_total
    return f"Total Bill --> {total_bill}"

In [10]:
Hotel_bill(Pizza = 2)

total bill for Pizza --> 500

'Total Bill --> 500'